{% extends "base.html" %}

{% block content %}
<form method="POST" action="">
    <div class="mb-3">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="mb-3">
        {{ form.content.label_tag }}
        {{ form.content }}
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit</button>
    <hr />
    {{ form.errors }}
</form>
{% endblock content %}
