{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<a href="{% url 'post_add' %}" class="btn btn-info">
    Add new Post
</a>
<p>You have visited {{ request.session.bloglistvisits }} times</p>
{% for post in post_list %}
<article>
    <h2>{{ post.title }}</h2>
    <p>
        <a href="{% url 'post_edit' pk=post.id %}">Edit</a>
        |
        <a href="{% url 'post_delete' pk=post.id %}">Delete</a>
    </p>
    <p>{{ post.content|truncatewords:"20" }}</p>
    <p>
        <a href="{% url 'post_detail' pk=post.id %}">read more &hellip;</a>
    </p>
</article>
{% endfor %}

{% endblock content %}
