{% extends "base.html" %}

{% block content %}

<h1>
    <form method="POST" action="">   {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Email address</label>
          <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea name="content" id="content" rows="10" class="form-control"></textarea>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</h1>

{% endblock content %}
