{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between my-2">
        <h1>Vehicles for Sale</h1>
        <a href="{% url 'vehicle_add' %}" class="btn btn-secondary align-self-end">Add new Vehicle</a>
    </div>
    <table class="table">
        <caption>Latest Vehicles</caption>
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Transmission</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.get_transmission_display }}</td>
                <td>
                    <!-- <a href="/vehicles/{{ vehicle.id }}">View Details</a> -->
                    <a href="{% url 'vehicle_detail' pk=vehicle.id %}">View Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />
    <a href="{% url 'secret_page' %}">SECRET PAGE</a>
    <hr />
    <pre id="debug-display"></pre>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
var url = '/vehicles/api/vehicles/';

var debugDisplay = document.getElementById("debug-display");

window.onload = function (e) {
    fetch(url, {
        headers: {
            'Accept': 'application/json'
        }
    })
    .then(resp => resp.json())
    .catch(err => console.log(err))
    .then(data => {
        debugDisplay.innerText = JSON.stringify(data, null, 2);
    });
}
</script>
{% endblock scripts %}
