{% extends "base.html" %}

{% block content %}
<h1>Add new Vehicle</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Save</button>
</form>
{% endblock content %}

