{% extends "base.html" %}

{% block content %}
<h1>Welcome to makina.al</h1>
<p>THEME = <code>{{ request.session.theme }}</code></p>
<form action="{% url 'save_preferences' %}" method="POST">
    {% csrf_token %}
    <p>Choose your theme?</p>
    <ul>
        <li>
            <label>
                <input type="radio" name="theme" value="light">
                Light
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="theme" value="dark">
                Dark
            </label>
        </li>
    </ul>
    <button type="submit" class="btn btn-secondary">Save Preferences</button>
</form>
{% endblock content %}
